<nav class="z-depth-0 white blue-text">
  <a href="/" class="brand-logo">blah</a>

  <div class="nav-wrapper blue-text">
    <ul class="left hide-on-med-and-down">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li>
        <a routerLink="/reports" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">View reports</a>
      </li>
      <li *ngIf="authService.authenticated">
        <a routerLink="/report" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Add report</a>
      </li>
      <li *ngIf="authService.admin">
        <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">All users</a>
      </li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="!authService.authenticated">
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Log in</a>
      </li>
      <li *ngIf="!authService.authenticated">
        <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Register</a>
      </li>
      <li *ngIf="authService.authenticated">
        <a routerLinkActive="active" (click)="authService.logout()">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
