<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">blah</a>

    <!-- Show this for logged out users -->
    <ul class="nav navbar-nav pull-xs-right" *ngIf="!authService.isAuthenticated()">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Log in</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul class="nav navbar-nav pull-xs-right" *ngIf="authService.isAuthenticated()">

      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/report" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Add report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" (click)="authService.logout()">Log Out</a>
      </li>

    </ul>

    <!-- Show this for admins -->
    <ul class="nav navbar-nav pull-xs-right" *ngIf="authService.isAuthenticated() && authService.isAdmin()">

      <li class="nav-item">
        <a class="nav-link" routerLink="/users">All users</a>
      </li>

    </ul>



  </div>
</nav>
