<div *ngIf="users | async; let users; else loading">
<div class="card-panel z-depth-0">
  <table class="responsive-table highlight centered">

    <thead>
    <tr>
      <th>username</th>
      <th>email</th>
      <th>roles</th>
      <th>actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.roles.join(", ")}}</td>
      <td>
        <a routerLink="/users/edit/{{user.id}}">EDIT</a> |
        <button *ngIf="!user.deactivated" (click)="deactivateAccount(user.id)">DEACTIVATE ACCOUNT</button>
        <button *ngIf="user.deactivated" (click)="activateAccount(user.id)">ACTIVATE ACCOUNT</button>
    </tr>
    </tbody>
  </table>

</div>
</div>
<ng-template #loading>Loading Data...</ng-template>
